#map-area {
    padding: 0px 0px 10px 0px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #DDDDDD;
}

.left-content {
    display: inline-block;
    width: 63%;
}

.right-content {
    display: inline-block;
    width: 33%;
    padding-left: 3%;
}

.icons{
      background: #0000ff; /* color of the circle */
  border-radius: 50%; /* make the div a circular shape */
  opacity: 0.4;
  box-shadow: 4px 4px 3px grey; /* see http://www.w3schools.com/css/css3_shadows.asp */
  -moz-box-shadow: 4px 4px 3px grey;
  -webkit-box-shadow: 4px 4px 3px grey;
}

/* input{
	padding: 10;
	margin: 0;
	left: 0;
	clear: both;
} */
